.profile{
    position: absolute;
    top: 88px;
    right: 100px;
    z-index: 999;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

//     h1{
//         margin-bottom: 30px;
//         color: gray;
//         font-size: 24px;
//         font-weight: 400;
//     }

//     button{
//         border: none;
//         background-color: #2879fe;
//         color: white;
//         width: 80px;
//         height: 30px;
//         cursor: pointer;
//         font-size: 16px;
        
//         .linkBtn{
//             color: white;
//             text-decoration: none;
//         }
//     }

//     .loginBtn{
//         margin-bottom: 20px;
//     }

//     .signup{
//         display: flex;
//         gap: 10px;

//         span{
//             margin-bottom: 20px;
//             font-size: 16px;
//         };
//     }
}